<!DOCTYPE html>
<html  ng-app="TicketApp" lang="en" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="http://getbootstrap.com/favicon.ico">

        <title>Extra Ticket</title>


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link href="{{ STATIC_URL }}css/jumbotron-narrow.css" rel="stylesheet">


        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular-route.min.js"></script>


        <script src="{{ STATIC_URL }}js/app/app.js"></script>
        <script src="{{ STATIC_URL }}js/app/controllers/app_controller.js"></script>
        <script src="{{ STATIC_URL }}js/app/services/movie_service.js"></script>
        <!--<script src="{{ STATIC_URL }}js/libs/jquery.xdomainajax.js"></script>-->


    </head>

    <body>

    <!--<img data-src="holder.js/180x180">-->

        <div class="container">


            <ng-view></ng-view>

            <footer class="footer">
                <p>&copy; Extra Ticket 2014</p>
            </footer>

        </div> <!-- /container -->

    </body>

</html>
